@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

:root {
    --primary-color: #0E2348;
    --secondary-color: #EDEDED;
    --accent-color: #FFD700;
    --heading-font: 'Playfair Display', serif;
    --body-font: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--body-font);
    background-color: var(--secondary-color);
}

h1, h2, h3 {
    text-align: center;
    font-family: var(--heading-font);
}

h1 {
    font-size: 3em;
}

#movie-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    color: var(--secondary-color);
    border-radius: 12px;
}

.movie-card {
    
    padding: 20px;
    background-color: var(--primary-color);
    border: 1px solid white;
    border-radius: 5px;
}

.movie-card img {
    width: 100%;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
}

#movie-container a {
    text-decoration: none; 
    color: inherit; 
}

